.invisible {
  display: none!important;
}


.color_box {
display: inline-block;
border-radius: 100%;
vertical-align: middle;
width: 35px;
height: 35px;
margin: 0 5px 5px 0;
}


.color_box:hover {
  border-color: pink;
  opacity: 0.3;
}