.image {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
}

@import url(http://fonts.googleapis.com/css?family=Lato);

body{
background-color: #dac35c;
font-family: 'Lato', sans-serif;
color:#444;
padding: 0 40px;
}


// h1 {
//   padding-left: 90px;
// }

input {
  padding: 10px;
  border-radius: 3px;
  background-color: pink;
  border: none;
}

// .erase{
//   background-color: #bf5a6a;

// }

button {
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
}

// .box {
//   width: 75px;
//   height: 75px;
//   display: inline-block;
//   margin: 5px;
//   background-size: 20%;
//   color: #333;
//   padding:5px;
//   text-align: center;
// }

// .eraser {
//   width: 75px;
//   height: 75px;
//   display: inline-block;
//   margin: 5px;
//   background-size: 20%;
//   border: 2px solid red;
// }

// .paint {
//   width: 45px;
//   height: 45px;
//   display: inline-block;
//   margin: -4px;
//   border: 1px dotted #ccc;
// }

// #canvas {
//   margin-top: 10px;
//   background-size: 100% auto;
//   background-repeat: none;
//   height: 900px;
//   width: 100%;
// }
